<! doctype html>
<html>
<head>
        <title>Login Page</title>
</head>
<body>
        <center>
                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                                {% for category, message in messages %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                {% endfor %}
                        {% endif %}
                {% endwith %}
                <h1> Login</h1>
                <form action="{{ url_for('login') }}"method="POST">
                        {{ form.hidden_tag() }}
                        {{ form.email.label }}
                        {{ form.email() }}
                        </br>
                        {{ form.password.label }}
                        {{ form.password()}}
                        </br>
                        {{ form.submit() }}
                </form>
        </br>
        <a href="{{ url_for('register') }}">Register</a>
        </center>
</body>
</html>
